<div class="grid grid-cols-3 gap-8">
    <app-product title="Producto 1" [price]="12" img="https://picsum.photos/640/640?r=13" (addToCard)="fromChild($event)"/>
    <app-product title="Producto 2" [price]="12" img="https://picsum.photos/640/640?r=12" (addToCard)="fromChild($event)"/>
    <app-product title="Producto 3" [price]="12" img="https://picsum.photos/640/640?r=15" (addToCard)="fromChild($event)"/>
    <app-product title="Producto 4" [price]="12" img="https://picsum.photos/640/640?r=16" (addToCard)="fromChild($event)"/>
    <app-product title="Producto 5" [price]="12" img="https://picsum.photos/640/640?r=17" (addToCard)="fromChild($event)"/>
</div>